/*commenting in css*/

/* voltar a cor do link acessado para azul/ não mudar nada*/

a {
    text-decoration: none;
}

a:link a:visited {
    color: blue;
  }

a:hover {
    color: red;
}

.footer {
	border-style: solid;
	border-width: 0.0625rem;
    margin: 0.65rem;
	padding: 0.65rem;
    display: flex; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 97%;
    background-color: #EDF5CE
}

.nav {
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-color: #EDF5CE;
}

.nav-item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 0.65rem;
	font-family: 'Palatino', serif;
	font-color: black;
}

.container {
	margin: 1.25rem;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

.aparelhos{
	display: flex;
	justify-content: space-around;
    flex-wrap: wrap;	
    flex-direction: column;
    align-items: center;
}

.aparelho {
	max-width: 14rem;
	max-height: 14rem;
	margin: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column; /*serve para colocar o título embaixo da imagem*/
	font-size: 1rem;
	font-family: 'Palatino', serif;
	font-color: black;
}

.title {
	font-size: 3rem;
	font-family: 'Palatino', serif;
    text-align: center;
    margin: 4rem;
    font-color: #10162E; 

}

.subtitle {
	font-size: 2rem;
	text-align: center;
	font-family: 'Arial', sans-serif;
	font-color: black;
}

.subsubtitle {
    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 1.5rem;
    font-color: black;

}

.list-item {
    margin: 2rem;
	padding: 0.65rem;
    display: flex; 
    position: fixed;
    left: 0;
    bottom: 0;
    width: 97%;
    font-color: black;
}

.image {
	height:15rem;
	width: 15rem;
	display: inline;
	justify-content: flex-end; 
}

.duvidas {
	justify-content:space-between;
}

.cduvidas {
	margin: 2rem;
}

.body{
	background-color: white;
}
/*@media {

}*/
